.input {
  @apply shadow appearance-none border rounded w-full py-3 px-4 text-grey-darker mb-3 leading-tight;
}

.input:focus {
  @apply outline-none shadow-outline;
}

.date-picker > input {
  @apply text-base shadow appearance-none border rounded w-full py-3 px-4 text-grey-darker mb-3 leading-tight;
}

.date-picker > input:focus {
  @apply outline-none shadow-outline;
}

.vdpClearInput {
  @apply invisible;
}

.btn {
  @apply no-underline text-white font-bold py-4 px-8 rounded;
}

.btn:focus {
  @apply outline-none shadow-outline;
}

.btn-blue {
  @apply btn bg-blue;
}

.btn-blue:hover {
  @apply bg-blue-dark;
}