.active.pill {
  @apply bg-blue text-white #{!important};
}

.active.pill:hover {
  @apply bg-blue-dark #{!important};
}

.pill {
  @apply text-blue py-2 px-4 rounded-full font-bold;
}

.pill:hover {
  @apply text-blue-lighter;
}

.navbar-link {
  @apply no-underline block mt-4 text-blue-lightest mr-4;
}

.navbar-link:hover {
  @apply text-white;
}